client-ws/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8585/banque/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost:8585/banque/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://localhost:8585/banque/" schemaLocation="http://localhost:8585/?xsd=1"/>
</xsd:schema>
</types>
<message name="conversion">
<part name="parameters" element="tns:conversion"/>
</message>
<message name="conversionResponse">
<part name="parameters" element="tns:conversionResponse"/>
</message>
<message name="listComptes">
<part name="parameters" element="tns:listComptes"/>
</message>
<message name="listComptesResponse">
<part name="parameters" element="tns:listComptesResponse"/>
</message>
<message name="consulterCompte">
<part name="parameters" element="tns:consulterCompte"/>
</message>
<message name="consulterCompteResponse">
<part name="parameters" element="tns:consulterCompteResponse"/>
</message>
<portType name="BanqueService">
<operation name="conversion">
<input wsam:Action="http://localhost:8585/banque/BanqueService/conversionRequest" message="tns:conversion"/>
<output wsam:Action="http://localhost:8585/banque/BanqueService/conversionResponse" message="tns:conversionResponse"/>
</operation>
<operation name="listComptes">
<input wsam:Action="http://localhost:8585/banque/BanqueService/listComptesRequest" message="tns:listComptes"/>
<output wsam:Action="http://localhost:8585/banque/BanqueService/listComptesResponse" message="tns:listComptesResponse"/>
</operation>
<operation name="consulterCompte">
<input wsam:Action="http://localhost:8585/banque/BanqueService/consulterCompteRequest" message="tns:consulterCompte"/>
<output wsam:Action="http://localhost:8585/banque/BanqueService/consulterCompteResponse" message="tns:consulterCompteResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="conversion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consulterCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8585/"/>
</port>
</service>
</definitions>